:root {
    --background: #111111;
    --secondary-background: #181818;
    --main-color: #850000;
    --main-hover-color: #258efe;
    --discord-col: #7289DA;
    --paypal: #253B80;
}
.icon {
    transition: linear 0.3s;
}
.btn:hover .icon {
    color: var(--main-color);
}

.icon2 {
    transition: linear 0.3s;
}
.btn2:hover .icon2 {
    color: var(--main-color);
}

input::placeholder {
    color: #a8a29e;
}
input:focus {
    outline: none;
}